---
import Layout from "../layouts/Layout.astro";
import NewsApp from "../components/news/NewsApp";
---

<Layout title="Noticias IA">
  <main class="min-h-screen bg-slate-100">
    <NewsApp client:load />
  </main>
</Layout>